<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skyposexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NextMainActivity"></activity>
        <activity android:name=".FrontActivity"></activity>
        <activity android:name=".FrontOrder"></activity>
        <activity android:name=".emptyPage"></activity>
        <activity android:name=".KitchenActivity"></activity>
        <activity android:name=".ServerActivity"></activity>
        <activity android:name=".ServerActivity2"></activity>
        <activity android:name=".ServerActivity3"></activity>
        <activity android:name=".ServerActivity3_Food"></activity>
        <activity android:name=".ServerActivity3_Drink"></activity>
        <activity android:name=".ServerActivity3_ETC"></activity>
        <activity android:name=".ServerActivity3TabMenu"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
        </activity>
        <activity android:name=".FrontOrder_Food"></activity>
        <activity android:name=".FrontOrder_Drink"></activity>
        <activity android:name=".FrontOrder_ETC"></activity>
        <activity android:name=".FrontOrderTabMenu"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
        </activity>
        <activity android:name=".Payment"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"></uses-permission>
</manifest>